/*fonts*/

@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

/*main*/

.Div1 {
  border: 3px solid hotpink;
  background-color: black;
  color: white;
  text-align: center;
  width: 496px;
  border-radius:5px;
}

.Div2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 3px solid #597600;
  color: white;
  text-align: center;
  width: 470px;
  border-radius:5px;
}

.ThemeNav {
  border: 3px solid grey;
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  color: #8195A3;
  text-align: center;
  width: 470px;
  border-radius:5px;
}

/*links*/

a:link {
  color: #33ACDD;
}

a:visited {
  color: #004080;
}

/*footer*/

footer {
  text-align: center;
  padding: 5px;
  background-color: #21495b;
  color: black;
}

@media only screen and (max-width: 600px) {
  .Div1, .Div2, .footer, .ThemeNav {
    width: 100%;
  }
}

