@import url(https://db.onlinewebfonts.com/c/158a997f8a01e5bd6f96844ae5739add?family=AG+Book+Rounded+Bold);
@font-face {
    font-family: "AG Book Rounded Bold";
    src: url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.eot");
    src: url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.svg#AG Book Rounded Bold")format("svg");
}
@import url(https://db.onlinewebfonts.com/c/0ea33830686c6ee0453b626d9aac208e?family=Helvetica);
@font-face {
    font-family: "Helvetica";
    src: url("https://db.onlinewebfonts.com/t/0ea33830686c6ee0453b626d9aac208e.eot");
    src: url("https://db.onlinewebfonts.com/t/0ea33830686c6ee0453b626d9aac208e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0ea33830686c6ee0453b626d9aac208e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0ea33830686c6ee0453b626d9aac208e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0ea33830686c6ee0453b626d9aac208e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0ea33830686c6ee0453b626d9aac208e.svg#Helvetica")format("svg");
}
@import url(https://db.onlinewebfonts.com/c/1c015c07884e43902babf51c14abf413?family=AG+Book+Rounded+Regular);
@font-face {
    font-family: "AG Book Rounded";
    src: url("https://db.onlinewebfonts.com/t/1c015c07884e43902babf51c14abf413.eot");
    src: url("https://db.onlinewebfonts.com/t/1c015c07884e43902babf51c14abf413.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c015c07884e43902babf51c14abf413.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c015c07884e43902babf51c14abf413.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1c015c07884e43902babf51c14abf413.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c015c07884e43902babf51c14abf413.svg#AG Book Rounded Regular")format("svg");
}
