@font-face {
  font-family: "AGBookRounded";
  src: url("/css/fonts/AGBookRounded-Bold.woff") format("woff"),
  url("/css/fonts/AGBookRounded-Bold.woff2") format("woff");

}
div {
  font-family: AGBookRounded;
}
