body {
color: #89cff0;
background-color: #f0ffff;
font-family: 'Arial', sans-serif;
}
@import url(https://db.onlinewebfonts.com/c/01da0e7563fcd3e3756f866e551dbeff?family=Rainder);
@font-face {
    font-family: "Rainder";
    src: url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.eot");
    src: url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.svg#Rainder")format("svg");
}
@import url(https://db.onlinewebfonts.com/c/158a997f8a01e5bd6f96844ae5739add?family=AG+Book+Rounded+Bold);
@font-face {
    font-family: "AG Book Rounded Bold";
    src: url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.eot");
    src: url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/158a997f8a01e5bd6f96844ae5739add.svg#AG Book Rounded Bold")format("svg");
}
