body {
color: #89cff0;
background-color: #f0ffff;
font-family: 'Helvetica', sans-serif;
}
@import url(https://db.onlinewebfonts.com/c/01da0e7563fcd3e3756f866e551dbeff?family=Rainder);
@font-face {
    font-family: "Rainder";
    src: url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.eot");
    src: url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/01da0e7563fcd3e3756f866e551dbeff.svg#Rainder")format("svg");
}
